.container {
background-color: #EEEEEE;
}

.navbar {
    display: flex;
    justify-content: space-between
}

.navbar-btn {
    background-color: #AA2233;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
    height: 5rem;
    margin-top: 40px;
}

h1 {
    color: #2B2B2B;
    text-align: center;
    font-family: 'Damion', cursive;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.row {
    display: flex;
}

.about-img {
   height: 200px;
   width: 400px;
}

.navbar a {
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 4rem;
}

.about p {
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
}

.styling-page img {
    height: 90px;
    width: 150px;
    margin-top: 30px;
    padding-left: 50px;
}

.style-option , p , button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.styling-page button {
    margin-left: 55px;
}

.styling-page {
    padding-left: 65px;
    /* background-image: url("http://www.guggenheim-venice.it/exhibitions/picasso-sulla-spiaggia/img/Picasso_Bagnante-alla-cabina-che-salta-con-la-corda.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.style-option {
    margin-right: 100px;
}

.style-option img {
    margin-bottom: 20px;
}

.gallery-option {
    margin-right: 100px;
}

.gallery-option img {
    margin-bottom: 20px;
}

.history-option {
    margin-right: 100px;
}

.history-option img {
    margin-bottom: 20px;
}

.history-option p {
    padding-left: 72px;
}

.info-option {
    margin-right: 100px;
}

.info-option img {
    margin-bottom: 20px;
}

.info-option p {
    padding-left: 85px;
}


