
.container {
    background-color: #EEEEEE;
}

/* navbar style here */
.navbar {
    background-image: url("http://www.moma.org/media/W1siZiIsIjI5ODcxMSJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=1f73dca2629bc5e5");
    background-repeat: no-repeat;
    background-size: cover;
}

.icons i {
    font-size: 0px;
    color: white;
    margin-left: 50px;
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.collapsible-menu label {
    font-family: 'Damion', cursive;
    font-size: 50px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 0 10px 147px;
    color: white;
    text-shadow: 2px 5px black;
}
    
input#menu {
    display: none;
}

input:checked +label {
    background-image: url(close.png);
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Dokdo', cursive;
    padding: 0 0 0 123px;
    color: #2B2B2B;
    font-weight: bolder;
    font-size: 25px;
}

/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}

/* about style here */
.about {
    padding-top: 30px;
    margin-bottom: 100px;
}

.about p {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.about img {
    height: 500px;
    border: 2px solid black;
    width: 100%;
}

/* art-header style here*/
.art-header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 65px;
}

.art-header h1 {
    font-family: 'Dokdo', cursive;
    font-weight: bolder;
    font-size: 50px;
}

.art-header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0 50px 70px auto;
    margin-bottom: 90px;
}

/* art-section style here*/
.art-section {
    text-align: center;
    background-image: url("https://www.metmuseum.org/toah/images/hb/hb_50.188.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.art-section p {
    padding-top: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.art-section img {
    margin-top: 50px;
}

#pic1 {
    margin-top: 12px;
}

#pic2 {
    margin-top: 132px;
    height: 285px;
}

#pic3 {
    margin-top: 82px;
    height: 335px;
}

#pic4 {
    margin-top: 61px;
}

/* form style here*/
h1 {
    font-size: 2.25rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.5rem;
}

.contact-form {
    width: 90%;
    margin: 0 auto;
}

.form-group {
    padding: 0.5rem;
}

.fname, .lname, .email {
    height: 35px;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0 5px;
    transition: .1s ease;
}

.fname:focus, .lname:focus, .email:focus, .message:focus {
    box-shadow: 0px 0px 10px #aaa;
}

.fname {
    width: 46.5%;
}

.lname {
    margin-left: 4%;
    width: 47.5%
}

.email {
    width: 100%;
}

.message {
    height: 105px;
    width: 100%;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 5px 5px;
    transition: .1s ease;
    font-family: Helvetica, sans-serif;
}

.submit {
    width:100%;
    height:35px;
    border:none;
    border-radius: 0.5rem;
    color:#fff;
    background: #AA2233;
    margin-bottom: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.submit:hover {
    background: yellow;
    color: black;
}


/* landing page style css ending  */













/* ABOUT US Css Starts here */
/* ___________________________________________ */



/* about navbar style here */
.collapsible-menu2 {
    background-color: #1090E5;
}

.collapsible-menu2 ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu2 a {
    display:block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

.collapsible-menu2 label {
    font-family: 'Damion', cursive;
    font-size: 35px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}
    
input#menu {
    display: none;
}

input:checked +label {
    background-image: url(close.png);
}

.menu-content2 {
    max-height: 0;
    overflow: hidden;
    font-family: 'Dokdo', cursive;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content2 {
    max-height: 100%;
}

/* about-Us style here */
.about-Us {
    padding-top: 80px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: #EEEEEE;
}

.about-Us h2 {
    font-weight: 500;
    font-size: 120px;
    color: #48AEF2;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    
}

.about-Us p {
    font-weight: 400;
    font-size: 35px;
    color: #15C154;
    text-shadow: 2px 2px black;
    
}

/* team-Info style here */
.team-profile {
    background-image: url("http://www.softteco.com/blog/wp-content/uploads/2016/04/Building-mobile-application.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
    color: #48AEF2;
}

.team-profile p {
    color: white;
}

/* about page form style here */
h1 {
    font-size: 2.25rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
}
.contact-form2 {
    width: 90%;
    margin: 0 auto;
}
.form-group2 {
    padding: 0.5rem;
}
.fname2, .lname2, .email2 {
    height: 35px;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0 5px;
    transition: .1s ease;
}

.fname2:focus, .lname2:focus, .email2:focus, .message2:focus {
    box-shadow: 0px 0px 10px #aaa;
}

.fname2 {
    width: 46.5%;
}

.lname2 {
    margin-left: 4%;
    width: 47.5%
}

.email2 {
    width: 100%;
}

.message2 {
    height: 105px;
    width: 100%;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 5px 5px;
    transition: .1s ease;
    font-family: Helvetica, sans-serif;
}

.submit2 {
    width:100%;
    height:35px;
    border:none;
    border-radius: 0.5rem;
    color:#fff;
    background: #3B9CE6;
    margin-bottom: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.submit2:hover {
    background: #CBE83E;
    color: black;
}

/* get-started style here */
.get-started {
    background-color: #1090E5;
    width: 100%;
}

.get-started h2 {
    color: white;
    font-family: Helvetica, sans-serif;
    /* margin-left: 20px; */
    font-size: -50px;
    text-align: center;
}

.get-started button {
    border-radius: 3px;
    background-color: #89E312;
    color: white;
    margin-left: 127px;
    height: 30px;
    font-size: 10px;
    padding: auto;
}

.get-started img {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 130px;
    border-radius: 50%;
    width: auto;
}

.get-started p {
    color: white;
    font-family: 'Amatic SC', cursive; 
    text-align: center;
}




