body {
    background-image: url("https://media.mutualart.com/Images/2013_06/23/03/031346191/38794a0a-cd8c-4002-96b9-a64505005d39_570.Jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #EEEEEE;
}

/* navbar style here */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navbar h1 {
    font-family: 'Damion', cursive;
    padding-left: 30px;
    font-size: 60px;
    font-weight: 900;

}

.navbar a {
    padding-left: 50px;
    color: #2B2B2B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.navbar img {
    height: 80px;
    width: 150px;
}

.signLog {
    color: #AA2233;
    text-decoration: underline;
}

/* about style here */
.about p {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.about p:first-child {
    font-family: 'Damion', cursive;
    font-weight: 900;
    font-size: 25px;
}

.about img {
    height: 500px;
    border: 2px solid black;
 
}

/* form style here*/
h1 {
    font-size: 2.25rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.5rem;
}
.contact-form {
    width: 90%;
    margin: 0 auto;
}
.form-group {
    padding: 0.5rem;
}
.fname, .lname, .email {
    height: 35px;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0 5px;
    transition: .1s ease;
}
.fname:focus, .lname:focus, .email:focus, .message:focus {
    box-shadow: 0px 0px 10px #aaa;
}
.fname {
    width: 47.5%;
}
.lname {
    margin-left: 4%;
    width: 47.5%
}
.email {
    width: 100%;
}
.message {
    height: 105px;
    width: 100%;
    border:none;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px #ccc;
    padding: 5px 5px;
    transition: .1s ease;
    font-family: Helvetica, sans-serif;
}
.submit {
    width:100%;
    height:35px;
    border:none;
    border-radius: 0.5rem;
    color:#fff;
    background: #AA2233;
    margin-bottom: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.submit:hover {
    background: yellow;
    color: black;
}
